dataset_0.csv
dataset_1.csv
dataset_2.csv
dataset_3.csv
dataset_4.csv
dataset_5.csv
datasetCompleto.csv

dataset_0.txt
dataset_1.txt
dataset_2.txt
dataset_3.txt
dataset_4.txt
dataset_5.txt
datasetCompleto.txt

datasetPostProcesamientoLowerCaseMoreTestingFixed.txt
dataset_5Procesado.txt
datasetProcesado.txt

test.csv
train.csv
outCleared_0.csv
train_completo.csv
train0.csv
train1.csv
train2.csv
train3.csv
wordcount_amazon
wordcount_climate
/cleaningDataset/nbproject/private/
/cleaningDataset/build/

postproc
stack_overflow

datasetProcesadoTesting.txt
datasetProcesadoFinal.txt
/FrecuencyAnalysis2/part-r-00000